@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--my-orange: #E6A69B;
	--my-yellow: #F5EDC9;
	--my-gray: #9FA7BE;
}

* {
	margin: 0;
	padding: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.no-pointer-events {
	pointer-events: none;
}

/*******************
TYPOGRAPHY
********************/
body {
	font-family: 'Roboto', sans-serif;
	color: var(--my-gray);
}

h1 {
	font-family: "Josefin Sans";
	font-size: 2.3rem !important;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;	
	color: var(--my-orange);
	text-align: center;
	padding-top: 3rem;
}

h1::after {
	content: "";
	display: block;
	width: 15%;
	margin: 0 auto;
	padding-top: 0.5em;
	margin-bottom: 3rem;
	border-bottom: 0.15em solid var(--my-orange);
}

.my-font {
	font-family: "Josefin Sans";
}

@media only screen and (min-width: 520px) {
	h1 {
		font-size: 3rem !important;
	}
}

@media only screen and (min-width: 1400px) {
	h1 {
		font-size: 5rem !important;
		padding-top: 5rem;
	}

	h1::after {
		margin-bottom: 5rem;
	}
}

/*******************
CONTAINERS
********************/
#main {
	position: relative;
}

.container {
	position: relative;
	width: 90%;
	margin: 0 auto;
}

.container-large {
	width: 90%;
	margin: 0 auto;
}

@media only screen and (min-width: 700px) {
	.container {
		width: 80%;
	}

	.container-large {
		width: 85%;
	}
}

@media only screen and (min-width: 1400px) {
	.container {
		width: 50%;
	}

	.container-large {
		width: 60%;
	}
}

/*******************
LOGOS
********************/
#logo {
	width: 70%;
	margin: 0 auto;
	margin-top: 1em;
}

#logo-large {
	display: none;
}

@media only screen and (min-width: 791px) {
	#logo {
		display: none;
	}

	#logo-large {
		margin-top: 1em;
		max-width: 300px;
		display: block;
	}
}

/*******************
NAVIGATION
********************/
nav ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
}

nav ul li {
	padding: 3rem 0 0 1rem;
	text-transform: uppercase;
}

nav ul li:first-child {
	padding-left: 0;
}

nav ul li a {
	color: var(--my-gray);
	text-decoration: none;
	font-family: "Josefin Sans";
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
}

nav ul li a:hover {
	animation: btn-fade 0.6s;
	-webkit-animation: btn-fade 0.6s;/* Prefix for Safari and Chrome */
	animation-fill-mode: forwards;

	border-bottom: 0.3rem solid var(--my-orange);
}

@media only screen and (min-width: 791px) {
	nav {
		position: absolute;
		top: 0;
		right: 0;
	}

	nav ul li {
		padding: 1rem 0 0 1rem;
		text-transform: uppercase;
	}
}

/*******************
SCROLL NAVIGATION
********************/

#scroll-nav {
	width: 100%;
	background-color: white;
	position: fixed;
	z-index: 100;
	top: -200px;
	display: flex;
	transition: top 0.5s ease-in-out 0.5s;
	box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);

}

#scroll-nav-flex  {
	display: flex;
	align-items: center;
	padding: 1rem 0 1rem 0;
}

#scroll-nav-logo {

}

#scroll-nav-logo img {
	width: 150px;
	display: block;
	
}

#hamburger-menu {
	position: absolute;
	right: 0;
	font-size: 1.5rem;
}

#hamburger-cross {
	display:none;
	cursor: pointer;
}

#hamburger-bars {
	cursor: pointer;
}

#hamburger-cross:hover,
#hamburger-bars:hover {
	color: var(--my-orange);
}

#scroll-nav-flex ul {
	list-style-type: none;
	width: 100%;
	justify-content: flex-end;
	display: none;
	height: 100%;

}

#scroll-nav-flex ul li {
	padding-left: 1rem;
	text-transform: uppercase;
}

#scroll-nav-flex ul li:first-child {
	padding-left: 0;
}

#scroll-nav-flex ul li a {
	color: var(--my-gray);
	text-decoration: none;
	font-family: "Josefin Sans";
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
}

#scroll-nav-flex ul li a:hover {
	animation: btn-fade 0.6s;
	-webkit-animation: btn-fade 0.6s;/* Prefix for Safari and Chrome */
	animation-fill-mode: forwards;

	border-bottom: 0.3rem solid var(--my-orange);
}

@media only screen and (min-width: 791px) {
	#hamburger-menu {
		display: none;
	}

	#scroll-nav-flex ul {
		display: flex;
	}

	#hamburger-show {
		display: flex !important;
	}
}


/*******************
QUOTE BANNER
********************/
#quote-banner {
	display: none;
	margin-top: 14em;	
	width: 100%;
	background-color: var(--my-orange);


}

#quote-banner-image {
	position: relative;
}

#quote-banner-image img {
	position: absolute;
	display: block;
	right: 0;
	bottom: 0;
	max-width: 470px;
	z-index: 0;


}

#quote-banner-text {
	color: white;
	padding: 3rem 0 3rem 0;
	display: block;
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 2rem;
	font-style: italic;
	opacity: 0;

	animation: quote-text 1.2s;
	-webkit-animation: quote-text 1.2s;/* Prefix for Safari and Chrome */
	animation-fill-mode: forwards;
}

@media only screen and (min-width: 791px) {
	#quote-banner {
		display: block;
	}
}

@media only screen and (min-width: 888px) {
	#quote-banner-text {
		font-size: 1.7rem;
	}
}

@media only screen and (min-width: 1079px) {
	#quote-banner-text {
		font-size: 2rem;
		line-height: 3rem;
	}

	#quote-banner-image img {
		max-width: 550px;
	}
}

@media only screen and (min-width: 1230px) {
	#quote-banner-text {
		font-size: 2.5rem;
	}
}

@media only screen and (min-width: 1400px) {
	#quote-banner-text {
		font-size: 1.8rem;
		line-height: 2.5rem;
	}
}

@media only screen and (min-width: 1730px) {
	#quote-banner-text {
		font-size: 2.5rem;
		line-height: 3rem;
	}
}



/*******************
BIOGRAPHY SECTION
********************/
#img-div {
	width: 100%;
}

#image {
	max-width: 1500px;
	width: 100%;
	margin: 0 auto;
	display: block;
	
	background-color: var(--my-orange);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

#img-caption {
	text-align: center;
	color: white;
	padding: 1.2rem 0 1.2rem 0;
	font-size: 0.7em;
	width: 100%;
	background: var(--my-orange);
	font-style: italic;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;

}

#title {
	font-weight: 700;
	text-transform: uppercase;
}

#tribute-info {
	margin-top: 3rem;
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: justify;
	text-justify: auto;
}

#tribute-info-buttons {
	display: flex;
	justify-content: center;
	padding: 3rem 0 3rem 0;
}

#tribute-info-next {
	margin-left: 1em;
}

@media only screen and (min-width: 700px) {
	#img-caption {
		font-size: 0.9em;
	}
	#tribute-info {
		margin-top: 3rem;
		font-size: 1.3rem;
		line-height: 1.8rem;
		text-align: justify;
		text-justify: auto;
	}
	#image {
		object-fit: cover;
		max-height: 350px;
	}
}

@media only screen and (min-width: 1400px) {
	#tribute-info-buttons {
		justify-content: flex-end;
	}
}

/*******************
FILMOGRAPHY SECTION
********************/
#filmography-section {
	background-color: var(--my-yellow);
}

#film-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 0.5rem;
	grid-row-gap: 0;
}

.film-list-item {
	position: relative;
	background-color: black;

	overflow: hidden;
	margin-top: 0.5rem;
}

.film-list-item:nth-child(1),
.film-list-item:nth-child(2) {
	margin-top: 0;
}

.film-list-item  a {
	font-size: 0;
}

.film-list-item-cover {
	width: 100%;
	width: 100%;

	display: block;
}

.film-list-item-title {
	position: absolute;
	color: white;
	width: 100%;
	margin: 0 auto;
	bottom: -200px;
	text-align: center;
	background-color: var(--my-orange);
	padding: 2rem 0 2rem 0;
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1.6rem;
	letter-spacing: 0.1rem;

}

.film-list-item-cover:hover {
	animation: cover-fade 0.6s;
	-webkit-animation: cover-fade 0.6s;/* Prefix for Safari and Chrome */
	animation-fill-mode: forwards;
}

.film-list-item-cover:hover + .film-list-item-title {
	animation: reveal-title 0.4s;
	-webkit-animation: reveal-title 0.4s;/* Prefix for Safari and Chrome */
	animation-fill-mode: forwards;
}


#film-see-more {
	display: flex;
	justify-content: center;
	padding: 1rem 0 3rem 0;
}

.film-group-2,
.film-group-3 {
	display: none;
}

@media only screen and (min-width: 1400px) {
	#film-list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-column-gap: 0.5rem;
		grid-row-gap: 0;
	}

	#film-see-more {
		justify-content: flex-end;
	}

	.film-list-item:nth-child(3),
	.film-list-item:nth-child(4) {
		margin-top: 0;
	}
}


/*******************
BUTTONS
********************/
#tribute-info-next-btn {
	padding-left: 1rem;
}

.arrow-btn {
	background: none;
	border: none;
	font-size: 3rem;
	color: var(--my-gray);
	outline: none;
}

.arrow-btn:hover {
	animation: btn-fade 0.6s;
	-webkit-animation: btn-fade 0.6s;/* Prefix for Safari and Chrome */
	animation-fill-mode: forwards;

	cursor: pointer;
}

.low-opacity {
	opacity: 0.3;
}

#learn-more a{
	text-decoration: none;
}

#biography-learn-more-btn {
	background-color: var(--my-gray);
	padding: 1.4rem;
	border-radius: 5px;
	border: 0;
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	cursor: pointer;
	margin-top: 3rem;
	outline: none;
	display: none;
	text-decoration: none;
	width: 100%;
	font-weight: 700;

}

#biography-learn-more-btn:hover {
	background-color: var(--my-orange);
	text-decoration: none;

}




/*******************
FOOTER
********************/
footer {
	background-color: var(--my-gray);
}

footer p {
	font-size: 0.8rem;
	color: white;
	text-align: center;
	opacity: 0.7;
	padding: 2rem 0 2rem 0;
	line-height: 1.2rem;
}

/*******************
ANIMATIONS
********************/
@keyframes reveal-title {
	0% {
		bottom: -200px;
	}
	100% {
		bottom: 0px;
	}
}

@keyframes cover-fade {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}

@keyframes btn-fade {
	0% {
		color: var(--my-gray);
	}
	100% {
		color: var(--my-orange);
	}
}

@keyframes quote-text {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}